@using FinalBlogSite.Domain.Entities;
@model CommentUpdateVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Comment</h4>

                        <form class="forms-sample" method="post"enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Content">Content</label>
                                <input asp-for="Content" class="form-control" placeholder="Content">
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LikeCount">LikeCount</label>
                                <input asp-for="LikeCount" class="form-control" placeholder="LikeCount">
                                <span asp-validation-for="LikeCount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostId">Post</label>
                                <select asp-for="PostId" asp-items="new SelectList(Model.Posts,nameof(Post.Id),nameof(Post.Title))">
                                    <option selected disabled>Select one</option>
                                </select>
                                <span asp-validation-for="PostId" class="text-danger"> </span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
